<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="{{ cliend_id }}">
    <title>ログイン</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <div class="container rounded" id="login">
        <h1 class="pt-4">芝浦BBS</h1>
        <p class="p-1">学内アカウントでログインしてください</p>
        <hr size="3">
        <div class="py-4 d-flex align-items-center justify-content-center">
            <div class="g-signin2 my-0 d-flex align-items-center justify-content-center" id="login" data-onsuccess="onSignIn"></div>
        </div>
    </div>
    <div>
    </div>

<script src="../static/javascript/login.js"></script>
{% if login == False %}
<script>
    alert('学外アカウントです')
</script>
{% endif %}
</body>
</html>