<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="{{ cliend_id }}">
    <title>ログイン</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <Script src="../static/socket.js"></Script>
</head>
<body>
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1>掲示板デモへようこそ</h1>
            <p>学内アドレスのみログインできます</p>
            <hr class="my-4">
            <p id="status">Googleでログインする</p>
            <div id="buttons">
                <div class="g-signin2" id="login" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>

</body>

</html>