<!-- #################################################
### Designer : 浅瀬石 遊那
### Date :2021.06.01
### Purpose : M1 ログイン画面処理
################################################# -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="{{ cliend_id }}">
    <title>ログイン</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="container rounded" id="login">
        <h1 class="pt-4">芝浦BBS</h1>
        <p class="p-1">学内アカウントでログインしてください</p>
        <hr size="3">
        <div class="py-4 d-flex align-items-center justify-content-center">
            <div class="g-signin2 my-0 d-flex align-items-center justify-content-center" id="login" data-onsuccess="onSignIn"></div>
        </div>
    </div>
    <div>
    </div>

<script>
// Google APIの設置
(function(d) {
    var config = {
        kitId: 'rnp8urf',
        scriptTimeout: 3000,
        async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);

// ログインするときの処理
function onSignIn(token) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = "/login";
    const input = document.createElement('input');
    input.name = 'token';
    input.value = JSON.stringify(token);
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut();
}
</script>

<!-- 芝浦のアカウントでなかったときの処理 -->
{% if login == False %}
<script>
    alert('アカウントが芝浦のものではありません')
</script>
{% endif %}

</body>
</html>
