<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スレッド名</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/javascript/script.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <a id="test" class="navbar-brand fs-2" href="#"><img src="../static/img/logo.png" alt="" width="170px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">マイページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('displayThreadList') }}">スレッド一覧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('makeThread') }}">スレッド作成</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="btn btn-outline-success me-5" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="mt-4 rounded" id="threadDetails">
            <h1 class="p-4">スレッド名</h1>
            <p class="px-4">テストのスレッドです</p>
        </div>

        <div class="my-3 p-4 rounded" id="threadBord">
            <div class="mb-4" id="entries">
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
                <div class="rounded bg-light me-3" id="entry">
                    <p class="px-3 pt-3">名無し</p>
                    <p class="px-3 pb-3">書込内容</p>
                </div>
            </div>
            <form action="" class="input-group">
                <input class="form-control me-3 rounded" type="text" name="content" id="">
                <button class="btn btn-outline-success rounded">投稿</button>
            </form>
        </div>

    </div>

</body>
</html>
